
@{
    ViewData["Title"] = "OrderSucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Your order has been placed sucessfully.</h4>
<h4>Please Click @Html.ActionLink("Here", "Index", "Home") to go to home page.</h4>